.hero {
    display: flex;
    height: 470px;
    background: #e9ecef;
    width: 100%;
    align-items: center;
}

.section1 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin-left: 4.5rem;
}


h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4.4rem;
}

.hero-text {
    display: flex;
    align-items: center;

}

.hero-para {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.7rem;
    margin-left: 20px;
    margin-top: 17px;
    font-weight: 500;
}

.hero-para2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.7rem;
    margin-left: 11.4rem;
    margin-bottom: 18px;
    font-weight: 500;

}

.here {
    margin-left: 20px;
    /* margin-bottom: 18px; */
    margin-top: -36px;
}

.paragraph {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #424141;
    font-size: 1.25rem;
    /* font-size: 15pt; */
    margin-top: 17px;
    margin-left: 7px;
    /* font-weight: 550; */

}

.p2 {
    margin-top: 10px;
}

.p3 {
    margin-top: 10px;
}

.buttons {

    display: flex;
    gap: 1rem;
    margin-left: 7.8rem;
    margin-top: 3rem;

}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 1rem;
}

.buy,
.explore {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.explore:hover {
    /* background: rgb(0, 0, 0); */
    background: rgb(0, 0, 0);
    color: white;
}

.buy {
    background: rgb(0, 0, 0);
    color: white;

}

.buy:hover {
    /* background: rgb(0, 0, 0); */
    border: rgb(255, 255, 255) 0.1rem solid;
}

.section2 {

    display: flex;
    margin-left: 15.9rem;
    /* margin-left: 1rem; */
    margin-top: 5rem;
}

.image {
    height: 700px;


}

/* media queries */

@media only screen and (max-width:1280px) {
    .section1 {
        padding: 50px;
    }

    h1 {
        font-size: 4rem;
    }

    .hero-para {
        font-size: 2.3rem;
    }

    .hero-para2 {
        font-size: 2.3rem;
        margin-left: 10.6rem;
    }

    .paragraph {
        font-size: 1.19rem;
    }

    .buttons {

        display: flex;
        gap: 1rem;
        margin-left: 6.5rem;


    }

    .btn {
        font-weight: 600;
        transition: all 300ms ease;
        padding: 0.8rem;
        width: 7rem;
        border-radius: 1rem;
    }

    .section2 {


        margin-left: 1.9rem;
        /* margin-left: 1rem; */

    }
.image{
    height: 650px;
}
}



@media only screen and (max-width:1024px) {
    .section1 {
        padding: 70px;
    }

    h1 {
        font-size: 3.5rem;
    }

    .hero-para {
        font-size: 2rem;
    }

    .hero-para2 {
        font-size: 2rem;
        margin-left: 9.4rem;
    }

    .paragraph {
       font-size:17px;
    }

    .buttons {

        display: flex;
        gap: 1rem;
        margin-left: 5.5rem;


    }

    .btn {
        font-weight: 600;
        transition: all 300ms ease;
        padding: 0.7rem;
        width: 7rem;
        border-radius: 1rem;
    }

    .section2 {


        margin-left: -5rem;
        margin-top: 3rem;
        /* margin-left: 1remam; */
        
    }
    .image{
        height: 530px;
    }
    
   
}

@media only screen and (max-width:800px) {
    .section1 {
        padding: 0px;
    }

    h1 {
        font-size: 3rem;
    }

    .hero-para {
        font-size: 1.5rem;
    }

    .hero-para2 {
        font-size: 1.5rem;
        margin-left: 8.4rem;
    }

    .paragraph {
       font-size:17px;
    }

    .buttons {

        display: flex;
        gap: 1rem;
        margin-left: 3.5rem;


    }

    .btn {
        font-weight: 600;
        transition: all 300ms ease;
        padding: 0.7rem;
        width: 7rem;
        border-radius: 1rem;
        font-size: 12px;
    }

    .section2 {


        margin-left: -2rem;
        margin-top: 3rem;
        /* margin-left: 1remam; */
        
    }
    .image{
        height: 500px;
    }
}

@media only screen and (max-width:500px) {
    .hero{
        flex-direction: column;
        height: 440px;
        /* margin-left: -1rem; */
        width: 100%;
    }
    .section1{
        margin-top: 3rem;
       /* padding: -1rem; */
       margin-left: 2.2rem;
       
    }
    .section2 {


     display: none;
        
    } 

    h1 {
        font-size: 3rem;
    }

    .hero-para {
        font-size: 1.5rem;
    }

    .hero-para2 {
        font-size: 1.7rem;
        margin-left: 8.1rem;
    }

    .paragraph {
       font: size 18px;
    }

    .buttons {

        display: flex;
        gap: 1rem;
        margin-left: 3.5rem;


    }

    .btn {
        font-weight: 600;
        transition: all 300ms ease;
        padding: 1rem;
        width: 7rem;
        border-radius: 1rem;
        font-size: 12px;
    }
}